{% extends "base.html" %}

{% block header %}<h2>Add Students To Association</h2>{% endblock %}

{% block page_content %}

<div class="content-section-update">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <!--YearTerm-->
        <div class="form-group">
            {{ form.yearterm.label(class="form-control-label") }}
            {{ form.yearterm(class="form-control") }}
        </div>

        <!--Association-->
        <div class="form-group">
            {{ form.association.label(class="form-control-label") }}
            {{ form.association(class="form-control") }}
        </div>

        <!--Students-->
        <div class="form-group">
            {{ form.student.label(class="form-control-label") }}<br>
            Select students to add.  To add multiple students, Ctrl-click each student.<br>
            {{ form.student(class="form-control", size="20") }}
        </div>

        <!--Add Button-->
        <div class="btn-group-submit btn-block" role="group" >    
            <div class = "form-group">  
                {{ form.submit(class="btn btn-success" ) }}   
            </div>
        </div>
    </form>
</div>

{% endblock page_content %}
