{% extends "base.html" %}

{% block header %}<h2>Add Students To Association</h2>{% endblock %}

{% block page_content %}

<div class="content-section-update">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <!--YearTerm-->
            {{ form.yearterm.label(class="form-control-label") }}
            {{ form.yearterm(class="form-control", style="width:auto;") }}
            <!--Association-->
            {{ form.association.label(class="form-control-label") }}
            {{ form.association(class="form-control", style="width:auto;") }}
        </div>

        <!--Students-->
        <div class="form-group">
            {{ form.student.label(class="form-control-label") }}<br>
            Select students to add.  To add multiple students, <kbd style="background-color: lightgrey; color: black;">Ctrl</kbd>-click each student.<br>
            {{ form.student(class="form-control", size="20", style="width:auto;") }}
        </div>

        <div class = "form-group">  
            <!--Add Button-->
            {{ form.submit(class="btn btn-success" ) }}   
            <!--Cancel Button-->
            {{ form.cancel(class="btn btn-success" ) }}   
        </div>
    </form>
</div>

{% endblock page_content %}
