{% extends "base.html" %}
{% block page_content %}
<div class="content-section-export">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Download A Roster - <i class="fas fa-file-download"></i></legend>

        <!--Association-->

        <legend class="border-bottom mb-1">Association</legend>
        <div class="form-group">
            {{ form.association.label(class="form-control-label") }}
            {% if form.association.errors %}
                {{ form.association(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.association.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.association(class="form-control form-control-sm") }}
            {% endif %}
        </div>


        <!--YearTerm-->
        <legend class="border-bottom mb-1">Semester</legend>
        <div class="form-group">
            {{ form.yearterm.label(class="form-control-label") }}
            {% if form.yearterm.errors %}
                {{ form.yearterm(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.yearterm.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.yearterm(class="form-control form-control-sm") }}
            {% endif %}
        </div>


        <div class="btn-group-submit" role="group" href ="/download/" target = "blank">    
            <div class = "form-group" align = 'center' >  
                {{ form.submit(class="btn btn-success" ) }}  
            </div>
        </div>
    </form>    
</div>
{% endblock page_content%}