{% extends "base.html" %}

{% block header %}<h2>List Students By Association, Year and Term</h2>{% endblock %}

{% block page_content %}
<form method="POST" action="">
    <div class="content-section-roster">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ form.options }}
        <div class="form-group">
            <!-- Year.Term -->
            {{ form.yearterm.label(class="form-control-label")}}
            {{ form.yearterm(class="form-control", style="width:auto;") }}
            <!-- Association -->
            {{ form.association.label(class="form-control-label")}}
            {{ form.association(class="form-control", style="width:auto;") }}
        </div>
        <div class="form-group">
            {{ form.view_roster(class="btn btn-outline-info") }}
        </div>
    </div>

    {% if result %}
    <article class="media content-section-display">
        <div class="media-body">
            <h2>{{ title }}</h2>
            <div class="article-metadata">
                <a class="mr-2" >{{ resultlength }}</a>
            </div>
            <p class="article-content">
                <div class = 'tableone'>
                    <table class = 'table table-hover table-striped'>         
                        <thead class = 'thead-light'>
                            <tr>
                                <th>Paul Smith's ID</th>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Association</th>
                                <th>Year</th>
                                <th>Term</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        {% for item in result %}
                            <tr>
                                <td>{{ item[0] }}</td>
                                <td>{{ item[1] }}</td>
                                <td>{{ item[2] }}</td>
                                <td>{{ item[3] }}</td>
                                <td>{{ item[4] }}</td>
                                <td>{{ item[5] }}</td>
                                <td> 
                                    <input type="checkbox" value="{{ item[0] }}" name="delete_student">
                                </td>                
                            </tr>          
                        {% endfor %}                  
                    </table>
                </div>
                <div class="btn-toolbar form-group" >
                    {{ form.add_students(class="btn btn-outline-info") }}
                    {{ form.delete_students(class="btn btn-outline-info") }}
                    {{ form.save_roster(class="btn btn-outline-info") }}
                </div>
                <div class="btn-toolbar" >
                    {{ form.new_search(class="btn btn-outline-info") }}
                    <!-- href="{{url_for('roster.index')}}"> -->
                </div>
            </p>
        </div>         
    </article> 
    {% endif %}
</form>  

<script>


</script>


{% endblock page_content %}