{% extends "base.html" %}

{% block header %}<h2> List Students By Association, Year and Term </h2>{% endblock %}

{% block page_content %}
    <div class="content-section-roster">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {{ form.options }}
            <fieldset class="form-group">
                <div class="form-group">
                    <!-- Year.Term -->
                    {{ form.yearterm.label(class="form-control-label")}}
                    {{ form.yearterm(class="form-control form-control-sm") }}
                    <!-- Association -->
                    {{ form.association.label(class="form-control-label")}}
                    {{ form.association(class="form-control form-control-sm") }}
                </div>
                <!-- Submit Form One For Roster Display -->
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>  
    </div>

    {% if result %}
    <article class="media content-section-display">
        <div class="media-body">
            <h2>{{ title }}</h2>
            <div class="article-metadata">
                <a class="mr-2" >{{ resultlength }}</a>
            </div>
            <p class="article-content">
                <div class = 'tableone'>
                    <table class = 'table table-hover table-striped'>         
                        <thead class = 'thead-light'>
                            <tr>
                                <th>Paul Smith's ID</th>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Association</th>
                                <th>Year</th>
                                <th>Term</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        {% for item in result %}
    
                            <tr>
                                <td>{{ item[0] }}</td>
                                <td>{{ item[1] }}</td>
                                <td>{{ item[2] }}</td>
                                <td>{{ item[3] }}</td>
                                <td>{{ item[4] }}</td>
                                <td>{{ item[5] }}</td>
                                <td> 
                                    <input type="checkbox" value=item[0] name="delete_student">
                                </td>                
                            </tr>          
                    {% endfor %}                  
                    </table>
                </div>
                <div class="btn-toolbar form-group" >
                    {{ form.submit(class="btn btn-outline-info") }}
                    <div class = "btn btn-outline-info" >
                        <button type ="button" >Delete Student(s)</button>
                    </div>
                    <div class = "btn btn-outline-info">
                        <!-- href="{{url_for('roster.add', yearterm=yearterm, association=association ) }}" -->
                        <button type ="button" >Add Student(s)</button>
                    </div>
                    <div class = "btn btn-outline-info">
                        <!-- href="{{url_for('roster.export', yearterm=yearterm, association=association ) }}" -->
                        <button type ="button" >Save as .csv</button>
                    </div >
                </div>
                <div class="btn-toolbar" >
                    <a class = " nav-item nav-link" style = 'color: white;' href="{{url_for('roster.index')}}">
                        <button class = "btn btn-outline-info" >New Search</button> 
                    </a>
                </div>
            </p>
        </div>         
    </article> 
    {% endif %}

<script>


</script>


{% endblock page_content %}