
*{
  padding-top:0;
  margin:0;
}

html{
  height: 100%;
}
body {
    height:115%;
    background-image: url("wallpapers/PaulSmithsCollege_Logo.png"); /* The larger of the backrounds */
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: scroll;
    background-size: cover;
    background-origin: content-box;
    background-color: rgb(0, 0, 0);
    position: initial;
    color: #000000;     /*Text color for login, register, and contact page */   
   
  }
  body::after{
    content: '';

    display: block;
    
  }

  .navbar-dark .navbar-brand { /* Color for Bobcat Association's Roster Tool*/
    position: absolute;
    top: 0.5%;
    left: 6%;
    text-decoration: underline;
    font-size: 35px;
    font-family: "American Typerwriter",serif;
    -webkit-text-fill-color: transparent;
  }


   h4, h6 {
    color: #fffefe;
  }
  h5 {
    text-align: center;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: 200;
    color: rgb(255, 245, 245);
  }
  .text-secondary{
    color: rgb(255, 253, 253);
  }

  .email {
    color: white;
  }
 
  .bg-steel {
    background-color: linear-gradient(to top, #00000017, rgba(255, 255, 255, 0.39) 50%); /* Changes backround color behind Home, Contact, Login, and Register Tab */
    height: 80px;
  }
  .navbar-nav  {
    position: absolute;
    left: 50%;
    top: 30%;
    margin-right: -50%;
    color: #000000;
    font-size: 1.0em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: 300;
    transform: translate(-50%, -50%) 
  }
  .site-header .nav-link .nav-item .dropdown{ /* Changes the color of Home, Contact, Login, and Register links */
    display: inline-block;
    font-size: 1.0em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: 400;
    
  }
  .navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
  } 

  .site-header .navbar-nav .nav-link:hover { /* Changes the color of the Home, Contact, Login, and Register links when you hover over them */
    color: #6e6413ec;
  }
  
  .site-header .navbar-nav .nav-link.active {
    position: absolute;
    font-weight: 600;
    color: rgb(255, 255, 255);

  }

   .alert {
    background: #b9b9b900;
    background: rgba(0, 0, 0, 0); 
    position: fixed;
    top: 12%;
    left: 50%;
    width: 30%;
    height: -10%;
    border: 1px solid #00000000;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    align-content: center;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 300;
  }
  .content-section-roster {
    background: #00000088;
    background: rgba(0, 0, 0, 0.623);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 35%;
    height: -10%;
    border: 5px solid #00000000;
    border-radius: 3px;
    color: white;
    text-align: center;
    align-content: center;
    transform: translate(-50%, -50%);
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 100;
  }
  .content-section-home {
    background: #00000000;
    
    position: fixed;
    top: 20%;
    left: 50%;
    width: 50%;
    height: -10%;
    border-top: rgb(238, 238, 238);
    border-radius: 3px;
    text-align: center;
    color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 200;
  }
  
  .border-top {
    border-top: 2px solid #000000 !important;
    line-height: 2;
  }

  .content-section-update {
    background: #00000088;
    background: rgba(0, 0, 0, 0.623);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 35%;
    height: -10%;
    border: 5px solid #00000000;
    border-radius: 3px;
    padding: 5px;
    color: white;
    text-align: center;
    align-content: center;
    transform: translate(-50%, -50%);
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 100;
    display: inline-block;
  }

  .content-section-display {
    background: #00000086;
    background: rgba(0, 0, 0, 0.623);
    max-height: 65%;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: -10%;
    padding: 5px;
    text-align: center;
    border: 5px solid #00000000; 
    border-radius: 3px;
    color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    overflow: auto ;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 100;
  }
  .account-heading{
    color: rgb(255, 249, 249);
  }


  .content-section-profile {
    background: #00000088;
    background: rgba(0, 0, 0, 0.623);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    height: -10%;
    border: 5px solid #00000000; 
    border-radius: 3px;
    padding: 5px;
    transform: translate(-50%, -50%);
    font-size: .8em;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 100;
  }

  .content-section-login {
    background: #00000088; 
    background: rgba(0, 0, 0, 0.623);
    position: fixed;
    top: 40%;
    left: 50%;
    width: 30%;
    height: -10%;
    padding: 5px;
    border: 5px solid #00000000; 
    border-radius: 3px;
    color: white;
    text-align: center;
    align-content: center;
    transform: translate(-50%, -50%);
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 100;
  }

  .content-section-export {
    background: #00000088; 
    background: rgba(0, 0, 0, 0.623);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    height: -10%;
    padding: 5px;
    border: 5px solid #00000000; 
    border-radius: 3px;
    color: white;
    text-align: center;
    align-content: center;
    transform: translate(-50%, -50%);
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 100;
  }

  .content-section-contact {
    background: #00000088;  
    background: rgba(0, 0, 0, 0.623);
    position: fixed;
    top: 45%;
    left: 50%;
    width: 25%;
    height: -10%;
    padding: 5px;
    border: 5px solid #00000000; 
    border-radius: 3px;
    color: rgb(255, 255, 255);
    size: 2.4em;
    text-align: center; 
    transform: translate(-50%, -50%);
    letter-spacing: .1em;
    font-weight: 200; 
  }
  .content-section-error {
    background: #0000009a;  
    background: rgba(0, 0, 0, 0.623);
    position: fixed;
    top: 45%;
    left: 50%;
    width: 25%;
    height: -10%;
    padding: 5px;
    border: 5px solid #00000000; 
    border-radius: 3px;
    color: rgb(255, 255, 255);
    size: 5em;
    text-align: center;
    transform: translate(-50%, -50%);
    letter-spacing: .1em;
    font-weight: 400; 
  }
  
  .form-group-profile{
    color:rgb(255, 255, 255);
    align-items: center;
  }
  .form-group{
    size: -50%;

  }
  .form-control{
    color:rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
  } 
  
  .form-control-sm {
    color:rgb(0, 0, 0) !important; /*controls text color inside Flask forms */
    background-color: rgb(223, 223, 223) !important; /*Controls background color of flask forms */
  }
  
  .article-title {
    color: #ffffff; /* Changes color of the current "Blog Post Title */
  }
  
  a.article-title:hover {
    color: #353232;  /* Changes the color of the Blog Post title links when hovered over */
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #ffffff /* changes line color above blog title post */
  }
  
  .article-metadata a:hover {
    color: #ffffff; /* changes the hover color on name in blog post that links to account */
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

.tab {
  margin-right: 40px;
}

.text-muted {
  color: #f9fff9;
}

.dropbtn {
  background-color: rgba(28, 28, 29, 0);
  color: rgb(255, 255, 255);
  font-size: 1.0em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 400;
  border: 5px rgba(28, 43, 28, 0);
  border-radius: 5px;
  position: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff00;
  min-width: 200px;
  box-shadow: #81817d62;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  display: inline-table;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: rgba(51, 40, 40, 0.397);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #50504d67;}

 .btn  {
    color:rgb(255, 255, 255);
    background: #077ee0cb;
    background:  rgba(7, 126, 224, 0.796);
    box-shadow: -1.5px 3px #031f318a ;
    border: none;
    position: center;
    bottom: 60%;
    text-align: center;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 100;

 }

.Roster-Title{
  color: white;
}

.btn-group-submit {
  margin: 0 auto;
}

.ml3 {
  color: rgb(255, 255, 255);
  border-bottom: #000000;
  font-size: 2.4em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 300;
}

.ml3 .letter {
  display: inline-block;
  line-height: 1em;
}

.wrapper{
  min-height: 100%;
  padding-bottom: 0px;
  position: relative;
}

.footer {
  color: rgb(255, 255, 255);
  height: 50px;
  background-color: rgb(2, 0, 0);
  width: 100%;
  position: absolute;
  bottom:0x;
  font-size: 1.3em;
  /*text-transform: uppercase; */
  text-align: center;
  text-indent: 2%;
  z-index: 1;
}

.my-logo {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-weight: 100;
  letter-spacing: 0.5em;
  align-self: center;
  
}

.my-logo:hover {
  color: rgb(179, 250, 179);
  text-decoration: none;
}
.modal-content {
  background-color: rgb(0, 0, 0);
}
.modal-body{
  color: white;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 300;
}

.modal-backdrop {
  z-index: -1;
}


::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.flash{
  color:white;
}